<div>
    <h1>Current date</h1>
    <div>
        <p>Day</p>
        <p>
            <!-- Render Day here -->
        </p>
    </div>
    <div>
        <p>Month</p>
        <p>
            <!-- Render Month here -->
        </p>
    </div>
    <div>
        <p>Year</p>
        <p>
            <!-- Render Year here -->
        </p>
    </div>
    <h1>Current time</h1>
    <div>
        <p>Time</p>
        <p>
            <!-- Render Time here -->
        </p>
    </div>
    <h1>Current timezone</h1>
    <div>
        <p>Timezone</p>
        <p>
            <!-- Render Timezone here -->
        </p>
    </div>
</div>
