<div *ngIf="date && timezone">
  <h1>Current date</h1>
  <div>
    <p>Day</p>
    <p>
      {{ date.getDate() }}
    </p>
  </div>
  <div>
    <p>Month</p>
    <p>
      {{ date.getMonth() + 1 }}
    </p>
  </div>
  <div>
    <p>Year</p>
    <p>
      {{ date.getFullYear() }}
    </p>
  </div>
  <h1>Current time</h1>
  <div>
    <p>Time</p>
    <p>
      {{ date.toLocaleTimeString() }}
    </p>
  </div>
  <h1>Current timezone</h1>
  <div>
    <p>Timezone</p>
    <p>
      {{ timezone }}
    </p>
  </div>
</div>
